@use '../helpers' as *;

.accordion {
    background-color: var(--color-secondary-background);
    border-radius: var(--border-radius-secondary);
    transition-duration: 0.5s;

    &.is-opened {
        .accordion__indicator {
            &::after,
            &::before {
                border-color: var(--color-primary-foreground);
            }

            &::after {
                rotate: 0deg;
            }
        }

        & .accordion__content {
            grid-template-rows: 1fr;
            
        }

        & .accordion__summary {
            padding-bottom: fluid(16, 24);
        }
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: 0.5s;

        padding-inline: fluid(24, 34);

        &-inner {
            overflow: hidden;
        }

        &-description {
            padding-top: fluid(16, 24);
            padding-bottom: fluid(24, 34);
            border-top: var(--primary-border);
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border: none;
        color: inherit;
    }

    &__indicator {
        display: inline-flex;
        position: relative;
        width: rem(16);
        height: rem(16);
        aspect-ratio: 1;

        &::before,
        &::after {
            content: '';
            display: block;
            width: rem(16);
            border-top: rem(3) solid var(--color-brand);
            left: 50%;
            top: 50%;
            translate: -50% -50%;

            position: absolute;
            border-radius: rem(3);
        }

        &::after {
            rotate: 90deg;
            transition-duration: 0.3s;
        }
    }

    &__summary {
        padding: fluid(24, 34);
        user-select: none;
        color: var(--color-primary-foreground);

        @include hover {
            color: var(--color-brand);
        }
    }

    &__title {
        color: inherit;
    }
}
