@use '../helpers' as *;

.button {
    display: flex;

    border-radius: var(--border-radius-primary);
    border: var(--button-border);

    justify-content: center;
    align-items: center;

    padding: rem(18) rem(24);
    font-weight: 500;

    letter-spacing: 0;
    
    background-color: var(--color-primary-background);
    
    @include laptop {
        padding: rem(10) rem(15);
        font-size: rem(14);
    }

    &:hover {
        background-color: var(--color-secondary-background);
        border-color: var(--color-brand);
    }

    &_accent {
        background-color: var(--color-brand);
        color: var(--color-primary-background);
        border-color: var(--color-brand);

        padding: rem(14) rem(20);

        @include laptop {
            padding: rem(10) rem(15);
        }
        @include hover {
            background-color: var(--color-secondary-background);
        }
    }

    &_small-padding {
        padding: rem(10) rem(16);

        @include laptop {
            padding: rem(8) rem(14);
        }
    }
}