@use '../helpers' as *;

.header {
    &__promo {
        padding-block: rem(20);
        --iconWidth: #{rem(17)};

        @include laptop {
            --iconWidth: #{rem(14)};

            padding-block: rem(12);
        }

        &-inner {
            display: flex;
            justify-content: center;

            @include mobile {
                padding-inline: rem(24);
            }
        }

        &-link {
            display: flex;
            column-gap: rem(14);
            align-items: center;
        }

        &-description {
            display: block;
        }
    }

    &__home-icon {
        width: fluid(126, 179);
    }

    &__body {
        background-color: var(--color-secondary-background);
        padding-block: rem(24);

        @include laptop {
            padding-block: rem(20);
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__contact-us-link {
        padding: rem(15) rem(10);
        @include tablet-s {
            width: 100%;
            max-width: rem(250);
        }
    }

    &__nav {
        letter-spacing: 0;
        color: var(--color-disabled-foreground);

        &-list {
            display: flex;

            @include tablet-s {
                flex-direction: column;
                align-items: center;
            }
        }

        &-link {
            padding: rem(14) rem(20);
            height: 100%;

            &.is-active {
                padding-inline: rem(24);
                border: var(--button-border);
                border-radius: rem(10);
                background-color: var(--color-primary-background);
                font-weight: 500;
                color: white;
                pointer-events: none;
            }
        }

        &-item {
            &:has(.is-active) {
                margin-inline: rem(20);

                @include tablet-s {
                    margin-inline: 0;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__burger-button {
        z-index: 100;
    }

    &__overlay {
        display: contents;

        @include tablet-s {
            display: none;

            &.is-active {
                background-color: var(--color-primary-background);
                position: fixed;
                inset: 0;
                z-index: 50;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: rem(25);
                translate: 100%;
                animation-name: move-left;
                animation-fill-mode: forwards;
                animation-duration: 0.5s;
                animation-timing-function: cubic-bezier(0.29, -1.5, 0.68, 2);

                @keyframes move-left {
                    to {
                        translate: 0;
                    }
                }
            }
        }
    }
}
