@use '../helpers' as *;

.header {
    &__promo {
        padding-block: rem(20);
        --iconWidth: #{rem(17)};

        @include laptop {
            --iconWidth: #{rem(14)};

            padding-block: rem(12);
        }

        &-inner {
            display: flex;
            justify-content: center;

            @include tablet {
                padding-inline: rem(24);
            }
        }

        &-link {
            display: flex;
            column-gap: rem(14);
            align-items: center;
        }

        &-description {
            display: block;
        }
    }

    &__home-icon {
        width: fluid(126, 179);
        height: auto;
    }

    &__body {
        background-color: var(--color-secondary-background);
        padding-block: rem(24);

        @include laptop {
            padding-block: rem(20);
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__contact-us-link {
        padding: rem(15) rem(10);
    }

    &__nav {
        letter-spacing: 0;
        color: var(--color-disabled-foreground);

        &-list {
            display: flex;
        }

        &-link {
            padding: rem(14) rem(20);
            height: 100%;

            &.is-active {
                padding-inline: rem(24);
                border: var(--button-border);
                border-radius: rem(10);
                background-color: var(--color-primary-background);
                font-weight: 500;
                color: white;
                pointer-events: none;
            }
        }

        &-item {
            &:has(.is-active) {
               margin-inline: rem(20);
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

}
