@use '../helpers' as *;

.metrics-card {
    display: inline-flex;
    flex-direction: column-reverse;
  
    row-gap: fluid(0, 10);   

    &__value {
        font-weight: 600;
        font-family: 'Inter';
        &_accent {
            display: inline-block;
            color: var(--color-brand);
        }
    }
}