@use '../helpers' as *;

.tabs {
    &__header {
        padding-block: fluid(20, 50);
        overflow-x: auto;
        border-bottom: var(--primary-border);
    }

    &__content {
        display: none;

        &.is-active {
            display: block;
        }
    }

    &__list {
        display: grid;
        column-gap: rem(20);
        grid-template-columns: repeat(6, 1fr);

        @include laptop-s {
            width: max-content;
        }
    }

    &__item {
        padding-block: fluid(18, 30);
        padding-inline: rem(16);
        border-radius: var(--border-radius-secondary);
        background-color: transparent;
        border: var(--button-border);
        color: inherit;

        &.is-active {
            background-color: var(--color-secondary-background);
            color: var(--color-primary-foreground);
            font-weight: 500;
        }
    }
}
