@use 'functions' as *;

$laptop-above: 1441;
$laptop: 1440.98;

$laptop-s-above: 1181;
$laptop-s: 1180.98;

$tablet-above: 961;
$tablet: 960.98;

$tablet-s-above: 768;
$tablet-s: 767.98;

$mobile-above: 391;
$mobile: 390.98;

@mixin laptop-above{
    @media (min-width: rem($laptop-above)){
        @content;
    }
} 

@mixin laptop {
    @media (max-width: rem($laptop)) {
        @content;
    }
}

@mixin laptop-s-above{
    @media (min-width: rem($laptop-s-above)){
        @content;
    }
} 

@mixin laptop-s {
    @media (max-width: rem($laptop-s)) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: rem($tablet-above)) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: rem($tablet)) {
        @content;
    }
}

@mixin tablet-s-above {
    @media (min-width: rem($tablet-s-above)) {
        @content;
    }
}

@mixin tablet-s {
    @media (max-width: rem($tablet-s)) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: rem($mobile-above)) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: rem($mobile)) {
        @content;
    }
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (any-hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin print {
  @media print {
    @content;
  }
}
