@use 'palette' as *;
@use 'helpers' as *;

:root {
	--color-primary-background: #{$dark-08};
    --color-secondary-background: #{$dark-10};
    --color-tertiary-background: #{$dark-20};

    --color-primary-border: #{$dark-15};
    --color-secondary-border: #{$dark-20};
    --border-radius-primary: #{rem(12)};
    --border-radius-secondary: #{rem(8)};
    --border-radius-tertiary: #{rem(10)};
    
    --button-border: #{rem(1)} solid var(--color-primary-border);
    --primary-border: #{rem(1)} solid var(--color-primary-border);
    
    // ordered by frequency
    --color-primary-foreground: #{$white};
    --color-secondary-foreground: #{$grey-60};
    --color-tertiary-foreground: #{$dark-40};

    --color-disabled-foreground: #{$grey-50};

    --color-brand: #{$yellow-55};
    --color-red: #FF5500;

    --font-family-primary: 'Inter';
    --font-family-secondary: 'Kumbh Sans'; 
    
    --badge-gradient: linear-gradient(
        45deg,
        var(--color-primary-border) 64%,
        var(--color-brand) 136%
      );

    --container-width: #{rem($CONTAINER_MAX_WIDTH)};
    --container-padding-x: #{rem($CONTAINER_PADDING_X)};

    --transition-duration: 0.2s;
}