@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter24pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter24pt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter24pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter24pt-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  margin-block: 0;
}

img, video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

dialog {
  color: inherit;
  margin: 0;
  padding: 0;
  max-width: inherit;
  max-height: inherit;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-primary-background: #141414;
  --color-secondary-background: #1A1A1A;
  --color-tertiary-background: #333333;
  --color-primary-border: #262626;
  --color-secondary-border: #333333;
  --border-radius-primary: 0.75rem;
  --border-radius-secondary: 0.5rem;
  --border-radius-tertiary: 0.625rem;
  --button-border: 0.0625rem solid var(--color-primary-border);
  --primary-border: 0.0625rem solid var(--color-primary-border);
  --color-primary-foreground: #ffffff;
  --color-secondary-foreground: #99989A;
  --color-tertiary-foreground: #666666;
  --color-disabled-foreground: #7E7E81;
  --color-brand: #FFD114;
  --color-red: $FF5500;
  --font-family-primary: "Inter";
  --font-family-secondary: "Kumbh Sans";
  --badge-gradient: linear-gradient(
      45deg,
      var(--color-primary-border) 64%,
      var(--color-brand) 136%
    );
  --container-width: 100rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

@media (max-width: 47.99875rem) {
  html.is-lock {
    overflow-y: hidden;
  }
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--color-primary-background);
  color: var(--color-secondary-foreground);
  font-family: var(--font-family-primary);
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  font-weight: 400;
  letter-spacing: -0.03em;
  --iconWidth: 1em;
  --contentWidth: 100%;
  overflow-x: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-primary-foreground);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4,
.h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-brand);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-brand);
  }
}
a[class] {
  text-decoration: none;
}

a:where([class]) {
  display: inline-flex;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

svg {
  height: auto;
}

img {
  height: auto;
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  padding-inline: 1rem;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 24.43625rem) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 24.4375rem) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 47.99875rem) {
  .tablet-s-hidden {
    display: none !important;
  }
}

@media (min-width: 48rem) {
  .tablet-s-visible {
    display: none !important;
  }
}

.header__promo {
  padding-block: 1.25rem;
  --iconWidth: 1.0625rem;
}
@media (max-width: 90.06125rem) {
  .header__promo {
    --iconWidth: 0.875rem;
    padding-block: 0.75rem;
  }
}
.header__promo-inner {
  display: flex;
  justify-content: center;
}
@media (max-width: 24.43625rem) {
  .header__promo-inner {
    padding-inline: 1.5rem;
  }
}
.header__promo-link {
  display: flex;
  column-gap: 0.875rem;
  align-items: center;
}
.header__promo-description {
  display: block;
}
.header__home-icon {
  width: clamp(7.875rem, 7.0306372549rem + 3.4640522876vw, 11.1875rem);
}
.header__body {
  background-color: var(--color-secondary-background);
  padding-block: 1.5rem;
}
@media (max-width: 90.06125rem) {
  .header__body {
    padding-block: 1.25rem;
  }
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contact-us-link {
  padding: 0.9375rem 0.625rem;
}
@media (max-width: 47.99875rem) {
  .header__contact-us-link {
    width: 100%;
    max-width: 15.625rem;
  }
}
.header__nav {
  letter-spacing: 0;
  color: var(--color-disabled-foreground);
}
.header__nav-list {
  display: flex;
}
@media (max-width: 47.99875rem) {
  .header__nav-list {
    flex-direction: column;
    align-items: center;
  }
}
.header__nav-link {
  padding: 0.875rem 1.25rem;
  height: 100%;
}
.header__nav-link.is-active {
  padding-inline: 1.5rem;
  border: var(--button-border);
  border-radius: 0.625rem;
  background-color: var(--color-primary-background);
  font-weight: 500;
  color: white;
  pointer-events: none;
}
.header__nav-item:has(.is-active) {
  margin-inline: 1.25rem;
}
@media (max-width: 47.99875rem) {
  .header__nav-item:has(.is-active) {
    margin-inline: 0;
  }
}
.header__nav-item:first-child {
  margin-left: 0;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__burger-button {
  z-index: 100;
}
.header__overlay {
  display: contents;
}
@media (max-width: 47.99875rem) {
  .header__overlay {
    display: none;
  }
  .header__overlay.is-active {
    background-color: var(--color-primary-background);
    position: fixed;
    inset: 0;
    z-index: 50;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5625rem;
    translate: 100%;
    animation-name: move-left;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.29, -1.5, 0.68, 2);
  }
  @keyframes move-left {
    to {
      translate: 0;
    }
  }
}

.button {
  display: flex;
  border-radius: var(--border-radius-primary);
  border: var(--button-border);
  justify-content: center;
  align-items: center;
  padding: 1.125rem 1.5rem;
  font-weight: 500;
  letter-spacing: 0;
  background-color: var(--color-primary-background);
}
@media (max-width: 90.06125rem) {
  .button {
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
    border-radius: var(--border-radius-secondary);
  }
}
.button:hover {
  background-color: var(--color-secondary-background);
  border-color: var(--color-brand);
}
.button_light-bg {
  background-color: var(--color-secondary-background);
}
.button_accent {
  background-color: var(--color-brand);
  color: var(--color-primary-background);
  border-color: var(--color-brand);
  padding: 0.875rem 1.25rem;
}
@media (max-width: 90.06125rem) {
  .button_accent {
    padding: 0.625rem 0.9375rem;
  }
}
@media (any-hover: hover) {
  .button_accent:hover {
    background-color: var(--color-secondary-background);
  }
}
@media (any-hover: none) {
  .button_accent:active {
    background-color: var(--color-secondary-background);
  }
}
.button_small-padding {
  padding: 0.625rem 1rem;
}
@media (max-width: 90.06125rem) {
  .button_small-padding {
    padding: 0.5rem 0.875rem;
  }
}

.burger-button {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: none;
  padding: 0;
  width: 1.625rem;
  height: 1.0625rem;
  position: relative;
  color: var(--color-primary-foreground);
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-brand);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-brand);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  border-top: 0.1875rem solid currentColor;
  border-radius: 0.25rem;
  display: block;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: flex-end;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.footer {
  color: var(--color-tertiary-foreground);
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
  padding-block: 5rem;
}
@media (max-width: 90.06125rem) {
  .footer__nav {
    padding-block: 3.75rem;
  }
}
@media (max-width: 60.06125rem) {
  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 1.25rem;
    padding-block: 2.5rem;
  }
}
.footer__nav-column {
  --itemsDirection: column;
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 0.681372549rem + 1.3071895425vw, 2.25rem);
}
@media (max-width: 60.06125rem) {
  .footer__nav-column:last-child {
    grid-column: 1/3;
    --itemsDirection: row;
  }
}
.footer__nav-list {
  display: flex;
  flex-direction: var(--itemsDirection);
  align-items: start;
  row-gap: clamp(0.5rem, 0.3406862745rem + 0.6535947712vw, 1.125rem);
  column-gap: 0.75rem;
  flex-wrap: wrap;
}
.footer__nav-item {
  --iconWidth: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer__nav-item.has-badge::after {
  content: "New";
  padding: 0.25rem 0.75rem;
  background: linear-gradient(var(--color-secondary-background), var(--color-secondary-background)) padding-box, var(--badge-gradient) border-box;
  border: 0.0625rem solid transparent;
  border-radius: 0.375rem;
  color: var(--color-primary-foreground);
  font-size: 1rem;
}
@media (max-width: 90.06125rem) {
  .footer__nav-item.has-badge::after {
    padding: 0.125rem 0.625rem;
    font-size: 0.9375rem;
  }
}
.footer__extra {
  border-top: 0.0625rem solid var(--color-primary-border);
  padding-block: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 90.06125rem) {
  .footer__extra {
    padding-block: 1.5rem;
  }
}
@media (max-width: 47.99875rem) {
  .footer__extra {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
@media (max-width: 47.99875rem) {
  .footer__soc1als {
    order: -1;
  }
}
.footer__soc1als-list {
  display: flex;
  column-gap: 0.625rem;
}
.footer__soc1als-link {
  min-height: 100%;
  padding: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-foreground);
}
@media (max-width: 90.06125rem) {
  .footer__soc1als-icon {
    width: 1.25rem;
  }
}
.footer__policy-list {
  display: flex;
}
.footer__policy-item {
  padding-inline: 0.6875rem;
}
.footer__policy-item:first-child {
  padding-left: 0;
}
.footer__policy-item:last-child {
  padding-right: 0;
}
.footer__policy-item:not(:first-child) {
  border-left: 0.0625rem solid var(--color-primary-border);
}

.text-with-icon {
  display: flex;
  column-gap: 0.625rem;
}
.text-with-icon::after {
  content: "";
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--iconWidth);
  height: auto;
  flex-shrink: 0;
}
.text-with-icon.top-right-yellow-arrow::after {
  background-image: url("../icons/top-right-arrow.svg");
}
.text-with-icon.yellow-eye::after {
  background-image: url("../../icons/yellow-eye.svg");
}

.icon-with-hover :where([fill]) {
  fill: currentColor;
}
.icon-with-hover :where([stroke]) {
  stroke: currentColor;
}

.mobile-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  overflow-x: hidden;
}
.mobile-overlay__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5625rem;
  background-color: var(--color-primary-background);
  font-size: 1.125rem;
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 1ms;
  animation-fill-mode: forwards;
  translate: 100%;
}
@keyframes move {
  from {
    visibility: visible;
    translate: 100%;
  }
  to {
    visibility: visible;
    translate: 0%;
  }
}
.mobile-overlay__nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0.375rem;
}
.mobile-overlay__nav-link {
  padding: 0.3125rem;
}
.mobile-overlay__contact-us-button {
  width: 50%;
}

.team {
  background-color: var(--color-secondary-background);
  border: 0.125rem solid var(--color-primary-border);
  border-radius: 6.25rem;
  padding: 0.625rem;
}
@media (max-width: 90.06125rem) {
  .team {
    padding: 0.5rem;
  }
}
.team__list {
  display: flex;
}
.team__item:not(:first-child) {
  margin-left: calc(var(--imageWidth) / 4 * -1);
}
.team__image {
  border-radius: 100%;
  border: 0.125rem solid var(--color-tertiary-foreground);
  width: var(--imageWidth);
  height: auto;
}
.team_alt {
  border-radius: 0.75rem;
  background-color: var(--color-primary-background);
  border: none;
}

.features-card {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
  padding-block: 3.125rem;
}
@media (max-width: 90.06125rem) {
  .features-card {
    padding-block: 2.5rem;
  }
}
@media (max-width: 60.06125rem) {
  .features-card {
    padding-block: 1.875rem;
  }
}
@media (max-width: 90.06125rem) {
  .features-card__icon {
    width: 2.5rem;
  }
}
@media (max-width: 24.43625rem) {
  .features-card__icon {
    margin-bottom: 0.375rem;
    width: 1.875rem;
  }
}
.features-card__body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "title icon" "description icon";
  row-gap: clamp(0.125rem, 0.0931372549rem + 0.1307189542vw, 0.25rem);
  justify-content: space-between;
  align-items: center;
}
.features-card__body:after {
  content: "";
  width: 3.25rem;
  aspect-ratio: 1;
  background-image: url("../../icons/hero/features-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-area: icon;
}
@media (max-width: 90.06125rem) {
  .features-card__body:after {
    width: 2.75rem;
  }
}
@media (max-width: 24.43625rem) {
  .features-card__body:after {
    width: 2.5rem;
  }
}
.features-card__title {
  grid-area: title;
  font-weight: 500;
}
.features-card__description {
  grid-area: description;
  color: var(--color-disabled-foreground);
}

.metrics-card {
  display: inline-flex;
  flex-direction: column-reverse;
  row-gap: clamp(0rem, -0.1593137255rem + 0.6535947712vw, 0.625rem);
}
.metrics-card__value {
  font-weight: 600;
}
.metrics-card__value_accent {
  display: inline-block;
  color: var(--color-brand);
}

.hero__main {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-areas: "content resources" "metrics resources";
}
@media (max-width: 60.06125rem) {
  .hero__main {
    display: flex;
    flex-direction: column;
  }
}
.hero__content {
  grid-area: content;
  padding-block: 9.375rem 6.25rem;
  padding-right: 3.125rem;
}
@media (max-width: 90.06125rem) {
  .hero__content {
    padding-top: 6.25rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 60.06125rem) {
  .hero__content {
    padding-block: 2.5rem;
  }
}
.hero__description {
  color: var(--color-disabled-foreground);
}
.hero__subtitle {
  margin-bottom: 1.875rem;
  font-size: clamp(1.125rem, 0.9338235294rem + 0.7843137255vw, 1.875rem);
  font-family: var(--font-family-secondary);
  color: var(--color-tertiary-foreground);
  font-weight: 500;
}
@media (max-width: 90.06125rem) {
  .hero__subtitle {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 24.43625rem) {
  .hero__subtitle {
    margin-bottom: 0.875rem;
  }
}
.hero__title {
  margin-bottom: 1.25rem;
}
@media (max-width: 90.06125rem) {
  .hero__title {
    margin-bottom: 0.875rem;
  }
}
@media (max-width: 24.43625rem) {
  .hero__title {
    margin-bottom: 0.625rem;
  }
}
.hero__metrics {
  grid-area: metrics;
  position: relative;
}
@media (max-width: 60.06125rem) {
  .hero__metrics::after {
    content: "";
    position: absolute;
    width: calc(100vw - var(--contentWidth) + 100%);
    right: calc(-1 * var(--container-padding-x));
    bottom: 0;
    border-top: 0.0625rem solid var(--color-primary-border);
  }
}
.hero__metrics::before {
  content: "";
  position: absolute;
  width: calc(100vw - var(--contentWidth) + 100%);
  right: 0;
  top: 0;
  border-top: 0.0625rem solid var(--color-primary-border);
}
@media (max-width: 60.06125rem) {
  .hero__metrics::before {
    right: calc(-1 * var(--container-padding-x));
  }
}
.hero__metrics-list {
  display: flex;
  flex-direction: row;
}
.hero__metrics-item {
  flex-grow: 1;
  padding: 3.125rem;
  padding-right: 0;
}
@media (max-width: 90.06125rem) {
  .hero__metrics-item {
    padding: 1.875rem 2.5rem;
  }
}
@media (max-width: 60.06125rem) {
  .hero__metrics-item {
    padding: 1.25rem;
  }
}
@media (min-width: 60.0625rem) {
  .hero__metrics-item:last-child {
    padding-right: var(--container-padding-x);
  }
}
.hero__metrics-item:first-child {
  padding-left: 0;
}
.hero__metrics-item:not(:first-child) {
  border-left: 0.0625rem solid var(--color-primary-border);
}
.hero__features {
  border-block: 0.0625rem solid var(--color-primary-border);
}
.hero__features-list {
  display: flex;
  justify-content: center;
}
@media (max-width: 60.06125rem) {
  .hero__features-list {
    flex-direction: column;
  }
}
.hero__features-item {
  flex-grow: 1;
  padding-inline: 3.125rem;
}
@media (max-width: 90.06125rem) {
  .hero__features-item {
    padding-inline: 3.125rem;
  }
}
@media (min-width: 60.0625rem) {
  .hero__features-item:not(:first-child) {
    border-left: 0.0625rem solid var(--color-primary-border);
  }
  .hero__features-item:first-child {
    padding-left: 0;
  }
  .hero__features-item:last-child {
    padding-right: 0;
  }
}
@media (max-width: 60.06125rem) {
  .hero__features-item {
    padding-inline: 0;
  }
  .hero__features-item:not(:first-child) {
    border-top: 0.0625rem solid var(--color-primary-border);
  }
}
.hero__resources {
  grid-area: resources;
  background: url("../images/hero/bg.png") padding-box 0 0/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  row-gap: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem);
  padding-block: 9.375rem 5rem;
  padding-left: 5rem;
}
@media (max-width: 90.06125rem) {
  .hero__resources {
    padding-bottom: 3.125rem;
    padding-left: 3.125rem;
  }
}
@media (max-width: 60.06125rem) {
  .hero__resources {
    margin-left: calc(-1 * var(--container-padding-x));
    padding-block: 6.25rem 2.5rem;
    padding-inline: 2.5rem calc(2.5rem - var(--container-padding-x));
    background-image: url("../../images/hero/bg-tablet.png");
    background-size: contain;
  }
}
.hero__resources-content {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.25rem, 0.0906862745rem + 0.6535947712vw, 0.875rem);
}
.hero__resources-title {
  font-weight: 500;
}
@media (max-width: 24.43625rem) {
  .hero__resources-link {
    width: 100%;
  }
}
.hero__team {
  --imageWidth: 3.75rem;
}
@media (max-width: 90.06125rem) {
  .hero__team {
    --imageWidth: 3.125rem;
  }
}
@media (max-width: 60.06125rem) {
  .hero__team {
    --imageWidth: 2.5rem;
  }
}

.content-card {
  display: grid;
  grid-template-columns: 37.5% 1fr;
}
@media (max-width: 60.06125rem) {
  .content-card {
    grid-template-columns: 1fr;
  }
}
.content-card__area-image {
  border-radius: var(--border-radius-primary);
  width: 100%;
}
.content-card__area_wide {
  grid-column: -1/1;
}
.content-card__team {
  --imageWidth: 3.125rem;
}
@media (max-width: 90.06125rem) {
  .content-card__team {
    --imageWidth: 2.5rem;
  }
}
.content-card__body {
  padding-block: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
}
@media (max-width: 90.06125rem) {
  .content-card__body {
    padding-block: 3.75rem;
  }
}
@media (max-width: 60.06125rem) {
  .content-card__body {
    padding-block: 2.5rem;
  }
}
@media (max-width: 47.99875rem) {
  .content-card__body {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 60.0625rem) {
  .content-card__body {
    padding-left: 3.75rem;
  }
}
@media (min-width: 90.0625rem) {
  .content-card__body {
    padding-left: 5rem;
  }
}
.content-card__body_auto-fr {
  grid-template-columns: auto 1fr;
}
@media (max-width: 47.99875rem) {
  .content-card__body_auto-fr {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}
.content-card__header {
  padding-block: 9.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: clamp(1.25rem, 0.7720588235rem + 1.9607843137vw, 3.125rem);
}
@media (max-width: 90.06125rem) {
  .content-card__header {
    padding-block: 7.65625rem;
  }
}
@media (max-width: 60.06125rem) {
  .content-card__header {
    padding-block: 3.125rem;
    border-bottom: var(--primary-border);
  }
}
@media (max-width: 47.99875rem) {
  .content-card__header {
    padding-block: 2.5rem;
  }
}
@media (min-width: 60.0625rem) {
  .content-card__header {
    padding-right: 3.75rem;
    border-right: var(--primary-border);
  }
}
@media (min-width: 90.0625rem) {
  .content-card__header {
    padding-right: 5rem;
  }
}
.content-card__header-downloads {
  display: inline-flex;
  align-items: center;
  column-gap: 3.125rem;
  background-color: var(--color-secondary-background);
  padding: 1.875rem;
  border-radius: var(--border-radius-primary);
  border: var(--primary-border);
  align-self: start;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
@media (max-width: 90.06125rem) {
  .content-card__header-downloads {
    padding: 1.25rem;
    column-gap: 1.875rem;
  }
}
@media (max-width: 47.99875rem) {
  .content-card__header-downloads {
    padding-inline: 1.875rem;
  }
}
.content-card__header-downloads-description {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  color: var(--color-secondary-foreground);
  font-weight: 400;
}
.content-card__header-info {
  row-gap: clamp(0.375rem, 0.2156862745rem + 0.6535947712vw, 1rem);
}
.content-card__header-main {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.5rem, 1.0857843137rem + 1.6993464052vw, 3.125rem);
}
@media (max-width: 60.06125rem) {
  .content-card__header-main {
    align-items: start;
  }
}
.content-card__header-icon {
  width: clamp(2.5rem, 2.1176470588rem + 1.568627451vw, 4rem);
}

.section__header {
  padding-block: clamp(2.5rem, 1.2254901961rem + 5.2287581699vw, 7.5rem);
  border-bottom: var(--primary-border);
  background-color: var(--color-secondary-background);
}
.section__header-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: clamp(0.625rem, 0.5294117647rem + 0.3921568627vw, 1rem);
}
.section__header-subtitle {
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  font-weight: 500;
  color: var(--color-primary-foreground);
  padding-block: clamp(0.25rem, 0.2181372549rem + 0.1307189542vw, 0.375rem);
  padding-inline: clamp(0.5rem, 0.4681372549rem + 0.1307189542vw, 0.625rem);
  background-color: var(--color-tertiary-background);
  border-radius: 0.25rem;
}
.section__header-inner {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1.875rem;
}
@media (max-width: 47.99875rem) {
  .section__header-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 24.43625rem) {
  .section__header-inner {
    align-items: stretch;
  }
}
.section__header-actions {
  flex-shrink: 0;
}

.tile {
  padding: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
  background-color: var(--color-secondary-background);
  border-radius: var(--border-radius-primary);
  border: var(--primary-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tile__description {
  color: var(--color-secondary-foreground);
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  font-weight: 400;
  font-family: "Inter";
}
.tile__info {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.25rem, -0.0049019608rem + 1.045751634vw, 1.25rem);
}
.tile__info_small-gap {
  row-gap: clamp(0.125rem, 0.0931372549rem + 0.1307189542vw, 0.25rem);
}
.tile__title--has-icon {
  display: flex;
  justify-content: space-between;
}
.tile__title--has-icon::after {
  content: "";
  background-image: url("../../icons/hero/features-icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(2.5rem, 2.3088235294rem + 0.7843137255vw, 3.25rem);
  height: auto;
  aspect-ratio: 1;
}
.tile--no-actions .tile__info {
  width: 100%;
}

.person-card {
  display: flex;
  align-items: center;
  column-gap: clamp(0.5rem, 0.3725490196rem + 0.522875817vw, 1rem);
}
.person-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}
@media (min-width: 60.0625rem) {
  .person-card__info {
    row-gap: 0.125rem;
  }
}
.person-card__image {
  width: clamp(3.75rem, 3.431372549rem + 1.3071895425vw, 5rem);
  background-color: #262626;
  border-radius: 100%;
  height: auto;
  flex-shrink: 0;
}
.person-card__name {
  color: var(--color-primary-foreground);
  font-weight: 500;
  font-size: clamp(1.125rem, 1.0931372549rem + 0.1307189542vw, 1.25rem);
}
.person-card__description {
  grid-area: description;
}

.blog-card {
  display: grid;
  align-items: center;
  grid-template-columns: 24% 1fr auto;
  grid-template-areas: "person body ." ". body link" ". body .";
  padding-block: clamp(2.5rem, 1.862745098rem + 2.614379085vw, 5rem);
  column-gap: 3.125rem;
}
@media (max-width: 90.06125rem) {
  .blog-card {
    column-gap: 2.5rem;
  }
}
@media (max-width: 60.06125rem) {
  .blog-card {
    grid-template-columns: 1fr auto;
    grid-template-areas: "person link" "body body";
    gap: 1.5625rem;
  }
}
.blog-card__body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem);
}
.blog-card__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.25rem, 0.1544117647rem + 0.3921568627vw, 0.625rem);
}
.blog-card__date {
  grid-area: date;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  font-weight: 600;
}
.blog-card__actions {
  grid-area: actions;
}
.blog-card__link {
  grid-area: link;
}

.separation-list {
  display: grid;
}
.separation-list_grid-1-col {
  grid-template-columns: 1fr;
}
.separation-list_grid-1-col .separation-list__item:not(:last-child) {
  border-bottom: var(--primary-border);
}
.separation-list_grid-3-cols {
  --paddingX: 3.125rem;
  grid-template-columns: auto auto auto;
}
@media (max-width: 90.06125rem) {
  .separation-list_grid-3-cols {
    --paddingX: 2.5rem;
  }
}
@media (max-width: 73.81125rem) {
  .separation-list_grid-3-cols {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 47.99875rem) {
  .separation-list_grid-3-cols {
    grid-template-columns: auto;
  }
}
.separation-list_grid-3-cols .separation-list__item {
  position: relative;
}
@media (min-width: 73.8125rem) {
  .separation-list_grid-3-cols .separation-list__item:nth-child(3n-2), .separation-list_grid-3-cols .separation-list__item:nth-child(3n-1) {
    padding-right: var(--paddingX);
    border-right: var(--primary-border);
  }
  .separation-list_grid-3-cols .separation-list__item:nth-child(3n), .separation-list_grid-3-cols .separation-list__item:nth-child(3n-1) {
    padding-left: var(--paddingX);
  }
  .separation-list_grid-3-cols .separation-list__item:nth-child(3n+1):not(:nth-last-child(3))::before {
    content: "";
    position: absolute;
    border-bottom: var(--primary-border);
    bottom: 0;
    width: 100vw;
    left: calc(-1 * (100vw - var(--container-width)) / 2);
  }
}
@media (min-width: 73.8125rem) and (max-width: 102rem) {
  .separation-list_grid-3-cols .separation-list__item:nth-child(3n+1):not(:nth-last-child(3))::before {
    left: calc(-1 * var(--container-padding-x));
  }
}
@media (max-width: 73.81125rem) and (min-width: 48rem) {
  .separation-list_grid-3-cols .separation-list__item:nth-child(2n+1):not(:nth-last-child(2))::before {
    content: "";
    position: absolute;
    border-bottom: var(--primary-border);
    bottom: 0;
    width: 100vw;
    left: calc(-1 * (100vw - var(--container-width)) / 2);
  }
}
@media (max-width: 73.81125rem) and (min-width: 48rem) and (max-width: 102rem) {
  .separation-list_grid-3-cols .separation-list__item:nth-child(2n+1):not(:nth-last-child(2))::before {
    left: calc(-1 * var(--container-padding-x));
  }
}
@media (max-width: 73.81125rem) and (min-width: 48rem) {
  .separation-list_grid-3-cols .separation-list__item:nth-child(2n+1) {
    padding-right: var(--paddingX);
    border-right: var(--primary-border);
  }
  .separation-list_grid-3-cols .separation-list__item:nth-child(2n) {
    padding-left: var(--paddingX);
  }
}
@media (max-width: 47.99875rem) {
  .separation-list_grid-3-cols .separation-list__item:not(:last-child) {
    border-bottom: var(--primary-border);
  }
}

.tabs__header {
  padding-block: clamp(1.25rem, 0.7720588235rem + 1.9607843137vw, 3.125rem);
  overflow-x: auto;
  border-bottom: var(--primary-border);
}
.tabs__list {
  display: grid;
  column-gap: 1.25rem;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 73.81125rem) {
  .tabs__list {
    width: max-content;
  }
}
.tabs__item {
  padding-block: clamp(1.125rem, 0.9338235294rem + 0.7843137255vw, 1.875rem);
  padding-inline: 1rem;
  border-radius: var(--border-radius-secondary);
  background-color: transparent;
  border: var(--button-border);
  color: inherit;
}
.tabs__item.is-active {
  background-color: var(--color-secondary-background);
  color: var(--color-primary-foreground);
  font-weight: 500;
}

.reaction-actions {
  display: flex;
  column-gap: clamp(0.5rem, 0.4681372549rem + 0.1307189542vw, 0.625rem);
}
.reaction-actions__item {
  --fillColor: transparent;
  --strokeColor: currentColor;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  padding-block: clamp(0.375rem, 0.3431372549rem + 0.1307189542vw, 0.5rem);
  padding-inline: clamp(0.75rem, 0.6544117647rem + 0.3921568627vw, 1.125rem);
  background-color: var(--color-secondary-background);
  border: var(--button-border);
  color: inherit;
}
.reaction-actions__item:hover {
  color: var(--color-brand);
  border-color: currentColor;
}
.reaction-actions__item.is-active {
  --fillColor: red;
  --strokeColor: red;
}
.reaction-actions__icon path {
  fill: var(--fillColor);
  stroke: var(--strokeColor);
}

.reviews-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(1.875rem, 1.3970588235rem + 1.9607843137vw, 3.75rem);
  box-sizing: content-box;
  padding-block: clamp(2.5rem, 1.862745098rem + 2.614379085vw, 5rem);
}
@media (max-width: 47.99875rem) {
  .reviews-card {
    max-width: 29.0625rem;
    margin-inline: auto;
  }
}
.reviews-card__body {
  position: relative;
  background-color: var(--color-secondary-background);
}
.reviews-card__rating {
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 0;
}
.reviews-card__feedback {
  padding: clamp(1.875rem, 1.556372549rem + 1.3071895425vw, 3.125rem) clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem) clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem);
  border: var(--primary-border);
  border-radius: var(--border-radius-primary);
}

.rating {
  background-color: var(--color-primary-background);
  border-radius: 6.25rem;
  border: var(--primary-border);
  padding-block: clamp(0.5rem, 0.4681372549rem + 0.1307189542vw, 0.625rem);
  padding-inline: clamp(0.75rem, 0.6862745098rem + 0.2614379085vw, 1rem);
}
.rating__list {
  display: flex;
  column-gap: clamp(0.25rem, 0.1862745098rem + 0.2614379085vw, 0.5rem);
  align-items: center;
}
.rating__item {
  display: inline-flex;
}

.view-more {
  display: flex;
  flex-direction: column;
  row-gap: clamp(2.5rem, 1.5441176471rem + 3.9215686275vw, 6.25rem);
}
.view-more__header {
  display: grid;
  grid-template-areas: "icon subtitle" "icon info";
  column-gap: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
  row-gap: 1rem;
  justify-items: start;
  align-items: center;
}
@media (max-width: 90.06125rem) {
  .view-more__header {
    row-gap: 0.625rem;
  }
}
@media (max-width: 47.99875rem) {
  .view-more__header {
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon subtitle" "info info";
    row-gap: 1.25rem;
  }
}
.view-more__header-icon {
  grid-area: icon;
  width: clamp(3.75rem, 2.3161764706rem + 5.8823529412vw, 9.375rem);
}
.view-more__header-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.25rem, -0.1642156863rem + 1.6993464052vw, 1.875rem);
}
.view-more__header-subtitle {
  grid-area: subtitle;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  font-weight: 500;
  color: var(--color-primary-foreground);
  padding-block: clamp(0.25rem, 0.2181372549rem + 0.1307189542vw, 0.375rem);
  padding-inline: clamp(0.5rem, 0.4681372549rem + 0.1307189542vw, 0.625rem);
  background-color: var(--color-tertiary-background);
  border-radius: 0.25rem;
}
.view-more__body {
  background-color: var(--color-primary-background);
  border-radius: var(--border-radius-primary);
  border: var(--primary-border);
  padding: 1.25rem;
}
@media (max-width: 90.06125rem) {
  .view-more__body {
    padding: 0.625rem;
  }
}
.view-more__list {
  display: flex;
  flex-direction: row;
  gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
@media (max-width: 60.06125rem) {
  .view-more__list {
    flex-direction: column;
  }
}

.header, .footer {
  display: none !important;
}

.main > :not(:last-child) {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
